/* BASICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f2f4f7;
    color: #2c2c2c;
    line-height: 1.6;
}

/* ESTRUCTURA PRINCIPAL */
header,
main,
footer {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/* ENCABEZADO */
header {
    background-color: #1f2937;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

header p {
    font-size: 14px;
}

/* SECCIONES */
section {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #111827;
}

h3 {
    font-size: 15px;
    margin-bottom: 6px;
}

.equipo {
    font-size: 13px;
    color: #6b7280; 
    margin-top: 6px;
}

.estado {
    color: #6b7280; 
    font-weight: 500;
}

article {
    margin-bottom: 20px;
}

/* LISTAS */
ul {
    padding-left: 18px;
}

li {
    margin-bottom: 4px;
}

/* LINKS */
a {
    color: #002150;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    text-align: center;
    font-size: 13px;
    color: #6b7280;
}